<div class="login-container">
  <div class="login-card">
    <h2>Iniciar Sesión</h2>
    <form (ngSubmit)="onLogin()" class="form">

      <label for="codigo">Código</label>
      <input
        [(ngModel)]="codigo"
        name="codigo"
        id="codigo"
        placeholder="Ej. 12345"
        required
      />

      <label for="password">Contraseña</label>
      <div class="password-wrapper">
        <input
          [(ngModel)]="password"
          name="password"
          [type]="verPassword ? 'text' : 'password'"
          id="password"
          required
        />
        <button type="button" class="toggle-btn" (click)="verPassword = !verPassword">
          {{ verPassword ? '🚫' : '👁️' }}
        </button>
      </div>

      <button type="submit">Entrar</button>

      <div *ngIf="error" class="error">{{ error }}</div>
    </form>
  </div>
</div>
